.post-category-film {
	background: darkorange;
}
.post-category-life {
	background: lightgreen;
}
.post-category-web {
	background: cornflowerblue;
}
.post-category-tech {
	background: seagreen;
}
.post-category-music {
	background: orchid;
}
.post-category-travel {
	background: gold;
}

